body{
    background-color: black;
}

.titulo{
    text-align: center;
    color: turquoise;
    padding-bottom: 20px;
    border-bottom: 5px solid turquoise;
}

.galeria{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.galeria img{
    border-radius: 10px;
}

.foto{
    border: 3px solid turquoise;
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    
}

.galeria .foto img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 25px turquoise;
}

img{
    opacity: 0.6;
    cursor:wait;
}

img:hover{
    opacity: 1;
}

