body {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto;
}

.titulo {
    grid-column: span 3;
    text-align: center;
    background-color: violet;
    color: white;
}

.navegacion {
    grid-column: span 3;
    text-align: center;
    background-color: aqua;
    color: white;
}

.content1 {
    grid-column: span 1;
    text-align: center;
    background-color: brown;
    color: white;
}

.content2 {
    grid-column: span 1;
    text-align: center;
    background-color: aquamarine
}

.content3 {
    grid-column: span 1;
    text-align: center;
    background-color: hotpink;
}

.footer {
    grid-column: span 3;
    text-align: center;
    background-color: violet;
    color: white;
}

.nada {
    list-style-type: none;
}